// Place all the styles related to the api/listings controller here.
// They will automatically be included in application.css.
// You can use Sass (
    

.listing-div{
    display: flex;
    height: 100vh;
    background-color: white;
}

.listing-price{
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.listing-physical-info{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 500;
}

.listing-info{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.listing-address {
    font-family: Arial, Helvetica, sans-serif;
}

.listing-physical-div{
    margin-bottom: 8px;
}

.listing-address-div{
    margin-bottom: 8px;
}

.listing-price-div{
    margin-bottom: 8px;
    margin-top: 8px;
}

.listing-photos{
    width: 50%;
    height: 25%;
    object-fit: cover;
    border-top: 2px solid white;
    border-right: 5px solid white;
    box-sizing: border-box;
}

#listing-photo-0{
    width: 100%;
    height: 50%;
}

.listing-div-left{
    width: 75%;
    overflow-y: scroll;
}

.listing-div-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    // justify-content: ;
}

.listing-nav-header{
    height: 8%;
    display: flex;
    justify-content: space-between;
    // margin-top: 2px;
    border-bottom: .5px solid grey;
}



#heart{
    color: rgba(85,179,243,255);
    align-self: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 24px;
}

.listings-mini-map{
    overflow-y: scroll;
    width: 100%;
    height: 50%;
}

#mini-map{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    border: 10px;
    padding: 10px;
}




//index-listings

.main-index-div{
    display: flex;
    height: calc(100vh -  80px);
    width: calc()
}

.index-div-right{
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 5px solid purple;
    box-sizing: border-box;
}

.right-half{
    overflow-y: scroll;
    width: 100%;
}

.left-half{
    width: 100%;
}

#main-map{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    border: 10px;
    padding: 10px;
}

.index-listing-photos{
    height: 50%;
    width: 100%;
}

.index-listing{
    box-sizing: border-box;
    border: 5px solid red;
    padding: 3px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.index-listing-photo-div{
    width: 100%;
    height: 50%;
    border: 5px solid blue;
}

.last-photo-blur-odd{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top: 2px solid white;
    border-right: 5px solid white;
    box-sizing: border-box;
    filter: blur(8px);
}

.last-photo-blur-even{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top: 2px solid white;
    border-right: 5px solid white;
    box-sizing: border-box;
    filter: blur(8px);
}

.blur-container-even{
    width: 50%;
    height: 25%;
    position: relative;
    display: inline-flex;
}

.blur-container-odd{
    width: 100%;
    height: 25%;
    position: relative;
    display: inline-flex;
}

.blur-img-text{
    position: absolute;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    width: 100%;
    height: 100%;
    font-size: 16px;
}

// .tour-button{
//     background-color: rgba(85,179,243,255);
//     position: absolute;
//     align-items: center;
//     display: flex;
//     justify-content: center;
//     color: white;
// }


// listings forms
.form-div{
    display: flex;
    // height: calc(100vh -  100px);
    width: calc();
    height: calc(100vh - 80px);
    background-color: white;
    border: 3px solid red;
}

.form-div-left{
    width: 100%;
    // height: 100%;
    border: 3px solid blue ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-div-right{
    width: 100%;
    // height: 100%;
    overflow-y: scroll;
    border: solid 3px green;
    justify-content: center;
    align-items: center;
}

.form-photo-div{
    border: solid 3px yellow;
    width: 75%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form-photo-label{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

